<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learning.gym_management.mapper.JcuAccountMapper">
  <resultMap id="BaseResultMap" type="com.learning.gym_management.entity.JcuAccountEntity">
    <!--@mbg.generated-->
    <!--@Table jcu_account-->
    <id column="account_id" jdbcType="VARCHAR" property="accountId" />
    <result column="account_password" jdbcType="VARCHAR" property="accountPassword" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    account_id, account_password
  </sql>
</mapper>